main {
  min-height: 80vh;
}

/* h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
} */

.rating span {
  margin: 0.05rem;
}

.equal {
  height: 35vh;
}

.tofit {
  object-fit: cover;
}

.img-sizes {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
}

.caption {
  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
