main {
  min-height: 84vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #033c73;
}

.rating span {
  margin: 0.05rem;
}

.to-fit {
  height: 36vh;
  object-fit: cover;
}

.light-heading {
  color: azure;
  font-style: italic;
}

.half-screen {
  width: 100vw;
  height: 40vh;
  object-fit: cover;
}

.caption-center {
  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
